.navbar {
  background-color: var(--dark);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  padding: 15px 0 15px 0 !important;
}

.navbar-brand {
  color: var(--main-red) !important;
  transition: 0.4;
}

.nav-item .nav-link {
  color: var(--main-white);
}

.bag{
    text-decoration: none;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag span {
  background-color: var(--main-white);
  color: var(--main-red);
  border-radius: 100%;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
