@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --dark: #001219;
  --main-white: #f0f8ff;
  --white: #fff;
  --main-red: #b90429;
}

body {
  background-color: var(--main-white);
  font-family: "Comfortaa" !important;
}
